div {
    display: inline-block;

    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    padding-right: 40px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
}

.button {
    border: 0px;
}